{plugins, [piqi_bin_plugin]}.

{pre_hooks, [
    {'compile', "make get_piqi"}
]}.

{post_hooks, [
    {clean, "make remove_piqi"}
]}.

%% {require_piqi_vsn, [constraints()]}. can be used to validate the piqi
%% version, where contraints is one of
%%
%% -type contraints() :: {cmp(), string()}.
%% -type cmp() :: lt | eq | gt
%%
%% so for example you can set
%%  {require_piqi_vsn, [{eq, "0.6.5.1"}]}
%% or
%%  {require_piqi_vsn, [{gt, "0.6.5"}, {lt, "0.6.6"}]}.
%% the VSN comparison is ~RPM style, so e.g. the previous constraint will
%% accept "0.6.5.1" and "0.6.5-spil1" but not "0.6.5"
